# Frontend Variables
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1

# Cloudflare Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY="1x00000000000000000000AA"

# Algolia
NEXT_PUBLIC_ALGOLIA_APP_ID="your_algolia_app_id"
NEXT_PUBLIC_ALGOLIA_SEARCH_KEY="your_algolia_search_key"

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test..."